* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: rgba(234, 60, 18, 0.1);
    padding: 0;
    margin: 0;

}

.nav {
    background-color: #ff6700;
    color: #fff;
    padding: 10px;
}

.nav h1 {
    text-align: center;
    font-size: 20px;
}

.mini-nav {
    background-color: rgba(255, 103, 0, 0.4);
    padding: 8px;
}

.mini-nav p {
    text-align: center;
    font-size: 16px;
}

.search-bar-cont {
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.search-bar-cont input {
    padding: 20px;
    width: 70%;
    border: 0.5px solid white;
    border-radius: 12px;
}

.search-bar-cont button {
    background-color: #ff6700;
    padding: 20px;
    border: none;
    border-radius: 12px;
    width: 80px;
    font-weight: 700;
    color: #fff;
}

.search-results-cont {
    padding: 20px;
}
